# Gradle
.gradle/
build/

# Eclipse
.classpath
.project
.pydevproject
.settings/
bin/
gen/
libs/
project.properties

# IntelliJ
*.iml

# DotA2 files
tools/itemparser/items.txt
tools/abilityparser/npc_abilities.txt